.jumbotron { font-size: 4rem; text-align: center; }

.stream {
	margin-top: 50px;
}

.example-enter {
	height: 0;
	opacity: 0.01;
}

.example-enter.example-enter-active {
	opacity: 1;
	height: 100%;
	transition: opacity 500ms ease-in, height 500ms ease-in;
}

.example-leave {
	opacity: 1;
	height: 100%;
}

.example-leave.example-leave-active {
	opacity: 0.01;
	height: 0;
	transition: opacity 300ms ease-in, height 300ms ease-in;
}
.alias-input {
	margin-bottom: 20px;
	border: none;
	box-shadow: none;
}
.alias-input:hover {
	border:solid 1px #ccc;
}
